{% extends "::base.html.twig" %}

{% block title %}LearnSFBlogBundle:About:about{% endblock %}

{% block body %}
<h1>Welcome to the About:about page, hey guys!</h1>
    <span>{{ now|date('d/m/y')}}</span>
{% endblock %}
